<div *ngIf="user; else loading" class="user-details">

  <mat-card>

    <div *ngIf="user.healthHistory; else no_health_history">
      <mat-toolbar>
        <mat-card-title>Health History Data</mat-card-title>
      </mat-toolbar>
      <hr>
      <mat-card-subtitle>Name: {{user.healthHistory.name}}</mat-card-subtitle>
      <mat-card-subtitle>Age: {{user.healthHistory.age}}</mat-card-subtitle>
      <mat-card-content>Content</mat-card-content>
    </div>

    <ng-template #no_health_history>
      <mat-card-subtitle>Empty Health History Form Data</mat-card-subtitle>
    </ng-template>

  </mat-card>

  <mat-card>

    <div *ngIf="user.nutritionImmune; else no_nutrition_immune">
      <mat-toolbar>
        <mat-card-title>Nutrition & Immune Data</mat-card-title>
      </mat-toolbar>
      <hr>
      <mat-card-subtitle>Some</mat-card-subtitle>
      <mat-card-subtitle>Data</mat-card-subtitle>
    </div>

    <ng-template #no_nutrition_immune>
      <mat-card-subtitle>This user has no Nutrition & Immune Data</mat-card-subtitle>
    </ng-template>

  </mat-card>

  <mat-card>

    <div *ngIf="user.haqForm; else no_haqForm">
      <mat-toolbar>
        <mat-card-title>Health Appraisal Questionnaire Data</mat-card-title>
      </mat-toolbar>
      <hr>

      <mat-card-content>
        <mat-tab-group>
          <mat-tab *ngFor="let part of haq.parts" [label]="part.label">

            <div class="section-container">
              <div *ngFor="let section of part.sections">

                <h3>{{ section.label }}</h3>
                <p>{{ section.sectionTotal }}</p>

                <mat-progress-spinner
                  class="example-margin"
                  color="accent"
                  mode="determinate"
                  [value]="section.sectionTotal">
                </mat-progress-spinner>
              </div>
            </div>

          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </div>

    <ng-template #no_haqForm>
      <mat-card-subtitle>This user has no Health Appraisal Questionnaire</mat-card-subtitle>
    </ng-template>

  </mat-card>

</div>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

