<mat-toolbar color="basic">
  <h3>{{ niFormOptions.title }}</h3>
</mat-toolbar>
<div class="instructions-container">
  <p>{{ niFormOptions.instructions }}</p>
</div>

<form id="niForm" [formGroup]="niForm" (ngSubmit)="onSubmit()">

  <div
    *ngFor="let section of niFormOptions.sections; index as i"
    [formArrayName]="'section'+(i)"
    class="form-section">

    <p class="outside-label"><strong>{{ section.title }}</strong></p>
    <div class="checkbox-container" *ngFor="let option of section.options; index as j">
      <mat-checkbox [formControlName]="j">{{ option }}</mat-checkbox>
    </div>

  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit">Submit</button>

</form>

