<mat-card>
  <form [formGroup]="haqForm" (ngSubmit)="onSubmit()">

  <mat-tab-group [selectedIndex]="selectedIndex" >
    <mat-tab *ngFor="let part of formQuestions; let i = index" [label]="'Part ' + (i + 1)" [formGroupName]="'part'+ (i + 1)">

      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step *ngFor="let section of part.sections; let j = index" [formGroupName]="'section' + (j + 1)" [stepControl]="haqForm">
            <ng-template matStepLabel>Section {{ section.section }}</ng-template>
            <ng-template *ngIf="section.message"><strong>{{ section.message }}</strong></ng-template>

              <div *ngFor="let question of section.questions; let dex = index">

                <p>{{ question.prompt }}</p>

                <mat-radio-group
                  *ngIf="question.type == 'freq'; else yn"
                  [formControlName]="question.key"
                  aria-label="Select an option"
                  required
                  >

                  <mat-radio-button value="0">No or Rarely</mat-radio-button>
                  <mat-radio-button value="1">Occasionally</mat-radio-button>
                  <mat-radio-button value="4">Often</mat-radio-button>
                  <mat-radio-button value="8">Frequently</mat-radio-button>
                </mat-radio-group>


                <ng-template #yn>
                  <mat-radio-group aria-label="Select an option" [formControlName]="question.key">
                    <mat-radio-button value="8">Yes</mat-radio-button>
                    <mat-radio-button value="0">No</mat-radio-button>
                  </mat-radio-group>
                </ng-template>

              </div>
            <div>
              <button color="primary" mat-button matStepperNext>Next</button>
            </div>



          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              <button type="submit" [disabled]="!haqForm.valid" mat-button (click)="selectTab(1)">Next</button>
            </div>
          </mat-step>

        </mat-vertical-stepper>

      </mat-tab>


    </mat-tab-group>
  </form>
</mat-card>

<!-- <button mat-button (click)="selectTab(0)">Back</button> -->
