<mat-card class="signup-card">

  <h1>Health Appraisal Questionnaire</h1>
  <h3>Create an account to begin questionnaire.</h3>
  <form [formGroup]="signUpForm" class="signUpForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" email>
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>Create Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <p>Returning user?
      <a routerLink="/home/sign-in">Sign-in</a>
    </p>

    <button mat-raised-button type="submit"
      [disabled]="!signUpForm.valid">
      Begin Questionnaire
    </button>

  </form>
</mat-card>
