.toolbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
mat-toolbar a {
    margin-right: 10px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
mat-nav-list {
  padding-top: 0px;
}
mat-drawer {
  position: fixed;
}
mat-drawer-container {
  padding-top: 12px;
}
.active {
  background: rgba(63,81,181,.15);
  color: #3f51b5;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-links-container {
  display: flex;
  align-items: center;
}

.footer {
  align-items: flex-end;
  justify-content: center;
}
.icon-ul {
  display: flex;
}
.icon-ul fa-icon {
  margin-right: 6px;
}
.icon-ul fa-icon:hover {
  cursor: pointer;
}
