<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">

    <mat-form-field *ngSwitchCase="'input'" appearance="fill">
      <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
      <input matInput [formControlName]="question.key" [id]="question.key" [type]="question.type">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill">
      <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
      <mat-select [id]="question.key"  [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{ opt.value }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngSwitchCase="'checkbox'" appearance="fill" class="checkbox-container">
      <p class="outside-label"><strong>{{ question.label }}</strong></p>
      <mat-checkbox *ngFor="let opt of question.options" [formControlName]="question.key" [value]="opt.key">{{ opt.value }}</mat-checkbox>
    </div>

    <mat-form-field *ngSwitchCase="'textarea'" appearance="fill">

    </mat-form-field>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{ question.label }} is required</div>
</div>
