table, mat-paginator {
  width: 95%;
  margin: auto;
}
table {
  margin-top: 6px;
}
mat-paginator {
  margin-bottom: 24px;
  box-shadow:
    5px 10px 15px -3px rgb(0 0 0 / 12%),
    0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.btn-col {
  text-align: center;
}
.filter-field {
  margin-left: 12px;
}
