.signInForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}
.signInForm mat-form-field {
    color: lightgrey;
}
.signInForm p {
  text-align: center;
}
.signInForm h1 {
  margin-bottom: 24px;
}
