/* You can add global styles to this file, and also import other style files */

html {
	/* background-color: #1f1f1f; */
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

.checkbox-container {
  padding: 6px 0px;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-label {
  white-space: normal !important;
}
